.picture {
    --picture-size: 260px;

    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: var(--picture-size);

    .label {
        background-color: #fff;
        backdrop-filter: blur(4px);
        border-radius: 4px;
        color: #666;
        font-size: 0.8em;
        left: 1em;
        padding: 0 4px;
        pointer-events: none;
        position: absolute;
        top: -0.7em;
        transition: all 0.25s;
        z-index: 4;
    }

    .personIcon {
        background-color: #fff;
        background-image: var(--picture);
        background-position: center;
        background-size: cover;
        border: var(--input-border);
        border-radius: var(--radius);
        color: #ccc;
        cursor: pointer;
        height: var(--picture-size);
        font-size: 5em;
        justify-content: center;
        transition: all 0.25s;
        width: var(--picture-size);
        z-index: 1;

        > i {
            transition:
                all 0.25s,
                opacity 0s;
        }

        &:hover {
            > i {
                scale: 1.1;
            }
        }
    }

    .buttons {
        align-self: center;
        background-color: #fff;
        border-radius: 0 0 var(--radius) var(--radius);
        color: #333;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: flex-end;
        margin-top: -44px;
        opacity: 0;
        padding: 0.6em;
        pointer-events: none;
        transition: all 0.25s;
        user-select: none;

        > button {
            color: inherit;
            font-size: 1.2em;
            height: auto !important;
            min-height: auto !important;
            padding: 0;

            &:hover {
                background-color: transparent !important;
                box-shadow: none !important;
            }
        }
    }

    .input {
        display: none;
    }

    &.haveValue {
        .buttons {
            box-shadow: 7px 7px 7px #0001;
            margin-top: -2px;
            opacity: 1;
            pointer-events: auto;
            user-select: none;
        }

        .personIcon {
            pointer-events: none;

            > i {
                opacity: 0;
            }
        }
    }
}
