.checkbox {
    flex-direction: row;
    font-size: 1em;
    gap: 1em;
    position: relative;

    .label {
        align-items: center;
        color: #333;
        cursor: pointer;
        display: flex;
        font-size: 1em;
        height: 100%;
        transition: all 0.25s;
        user-select: none;
    }

    .box {
        align-self: center;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: pointer;
        flex-direction: row;
        height: 18px;
        justify-content: center;
        position: relative;
        user-select: none;
        transition: all 0.25s;
        width: 18px;
        z-index: 0;

        > i {
            align-self: center;
            display: flex;
            font-size: 0.8em;
            opacity: 0;
            pointer-events: none;
            transition: all 0.25s;
        }
    }

    &.checked {
        .box {
            background-color: var(--primary-color-2);
            border-color: var(--primary-color);

            > i {
                color: var(--primary-color);
                opacity: 1;
            }
        }
    }
}
