.select {
    flex-direction: column;
    font-size: 16px;
    gap: 4px;
    position: relative;

    .label {
        border-radius: var(--radius);
        color: #aaa;
        left: 1em;
        padding: 0 4px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.25s;
    }

    .error {
        background-color: #fff;
        border-radius: var(--radius);
        bottom: -0.7em;
        color: red;
        font-size: 0.8em;
        left: 1em;
        padding: 0 4px;
        pointer-events: none;
        position: absolute;
        transition: all 0.25s;
        user-select: none;
    }

    &::before {
        align-content: center;
        bottom: 17px;
        color: inherit;
        content: 'keyboard_arrow_down';
        display: flex;
        flex-direction: column;
        font-family: 'Material Icons', monospace;
        font-size: inherit;
        font-style: normal;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        right: 14px;
        user-select: none;
        max-width: 16px;
        z-index: 100;
    }

    .input {
        appearance: none;
        background-color: #fff;
        border: none;
        border-radius: var(--radius);
        cursor: pointer;
        font-size: 1em;
        height: var(--input-height);
        min-height: var(--input-height);
        outline: var(--input-border);
        padding: 0 14px;
        transition: all 0.25s;

        &:disabled {
            background-color: #f9f9f9;
            cursor: not-allowed;
            opacity: 1;
        }

        &::placeholder {
            color: transparent;
            transition: all 0.5s;
        }

        &:focus-within {
            box-shadow: var(--box-shaddow);
            outline-color: var(--input-border-color-focus);

            &::placeholder {
                color: #ccc;
            }

            ~ .label {
                background-color: #fff;
                color: var(--primary-color);
                font-size: 0.8em;
                top: -0.6em;
                transform: none;
            }

            &:has(option:checked:not([value])),
            &:has(option:checked:not([value=''])) {
                ~ .label {
                    color: var(--primary-color);
                }
            }
        }

        &:has(option:checked:not([value])),
        &:has(option:checked:not([value=''])) {
            ~ .label {
                background-color: #fff;
                color: #999;
                font-size: 0.8em;
                top: -0.6em;
                transform: none;
            }
        }
    }

    &.error {
        .input {
            outline-color: red;
        }
    }
}
