@keyframes showTabContentAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabs {
    filter: drop-shadow(0 0 0.5em #aaa3);
    flex-direction: column;

    .tabList {
        align-self: flex-start;
        border-radius: var(--radius) var(--radius) 0 0;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        max-width: calc(100% - 1em);

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }

        .tab {
            --tab-background-color: #f4f4f4;
            --tab-color: #ccc;
            --tab-transform: translateY(4px);

            align-items: flex-start;
            background-color: var(--tab-background-color);
            color: var(--tab-color);
            cursor: pointer;
            display: flex;
            font-weight: bold;
            padding: 14px 21px;
            transition: all 0.25s;
            user-select: none;
            white-space: nowrap;

            &:hover {
                --tab-background-color: #fff;
                --tab-color: #777;
                --tab-transform: translateY(0);

                opacity: 1;
                z-index: 2;
            }

            &.active {
                --tab-background-color: #fff;
                --tab-color: var(--primary-color);
                --tab-transform: translateY(0);

                opacity: 1;
                z-index: 2;
            }
        }
    }

    .tabContent {
        height: fit-content;
        max-width: 100%;
        position: relative;
        transition: all 0.25s;
        width: 100%;
        z-index: 1;

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }

        > section {
            background-color: #fff;
            border-radius: 0 var(--radius) var(--radius);
            display: none;
            flex-direction: column;
            gap: 1em;
            padding: 1.5em;
            transition: all 0.25s;
            width: 100%;

            &.currentTab {
                display: flex;
            }
        }
    }
}
