@import '../../styles/mediaQuery';

.buttons {
    border-radius: var(--radius);
    flex-direction: row;
    transition: all 0.25s;
    width: 100%;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    > section {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    &.noSpace {
        width: auto;

        > section {
            gap: 0;

            > button {
                border-radius: 0;

                &:active {
                    translate: unset;
                }

                &:first-child {
                    border-top-left-radius: var(--radius);
                    border-bottom-left-radius: var(--radius);
                }

                &:last-child {
                    border-top-right-radius: var(--radius);
                    border-bottom-right-radius: var(--radius);
                }
            }
        }
    }
}

.moreOptions {
    margin-left: auto;
}
