@import '../../styles/mediaQuery';

.buttons {
    align-items: center;
    background-color: #fff;
    box-shadow: var(--box-shaddow);
    border-radius: var(--radius);
    flex-direction: row;
    gap: 14px;
    height: calc(var(--button-height) + 28px);
    overflow: auto;
    padding: 14px;
    position: sticky;
    right: 0;
    top: 0;
    transition: all 0.25s;
    width: 100%;
    z-index: 1;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    > section {
        display: flex;
        flex-direction: row;
        gap: 14px;
    }
}

.moreOptions {
    margin-left: auto;
}
