@import '../../styles/mediaQuery';

.buttons {
    border-radius: var(--radius);
    flex-direction: row;
    transition: all 0.25s;
    width: 100%;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    > section {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}

.moreOptions {
    margin-left: auto;
}
