.body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;

    > section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
