.appName {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 14px;

    > i {
        align-items: center;
        background-color: var(--primary-color);
        border-radius: var(--radius);
        color: #fff;
        display: flex;
        font-size: 2em;
        justify-content: center;
        height: 60px;
        width: 60px;
    }

    .headerText {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 7px;
        justify-content: center;

        h1 {
            color: #fff;
            text-align: left;
        }

        > p {
            color: #aaa;
            font-size: 0.8em;
            text-align: left;
        }
    }
}
