@import '../../styles/mediaQuery';

@keyframes skeletonLoading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.skeleton {
    animation: skeletonLoading 1.5s infinite;
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
}

.moreOptions {
    margin-left: auto;
}
