.card {
    align-self: flex-start;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: var(--box-shaddow);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
    transition: all 0.25s;
}
