@import '../../styles/mediaQuery';

.modal {
    display: flex;
    justify-content: center;
    z-index: var(--zindex-modal-background) !important;
}

.checkbox {
    display: none;
}

.modalContent {
    align-self: center !important;
    box-shadow: var(--box-shaddow);
    display: flex;
    flex-grow: 0;
    gap: 2em;
    min-width: 600px;
    padding: 2em !important;
    position: relative;
    z-index: var(--zindex-modal-content) !important;

    &:hover {
        box-shadow: var(--box-shaddow) !important;
    }

    > button {
        background-color: transparent !important;
        box-shadow: none !important;
        height: auto;
        min-height: auto;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;

        &::before,
        &::after {
            background-color: transparent !important;
        }
    }

    > section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .buttons {
        background-color: transparent;
        box-shadow: none;
        height: auto;
        justify-content: flex-end;
        margin-top: 2em;
        overflow: initial;
        padding: 0;
    }
}

.checkbox:checked ~ .modal {
    display: none;
}

@include tablet {
    .modalContent {
        min-width: calc(100% - 2em);
    }
}
