@import '../styles/mediaQuery';

.notFound {
    align-items: center;
    flex-direction: row !important;
    justify-content: center;
    height: 100%;

    > h1 {
        border-right: 1px solid #aaa;
        color: #aaa;
        font-size: 200px;
        margin-right: 28px;
        padding-right: 28px;
    }

    > section {
        flex-direction: column;
        gap: 14px;

        > p {
            max-width: 500px;
        }
    }
}

@include small-desktop {
    .notFound {
        flex-direction: column;

        > h1 {
            border-bottom: 1px solid #aaa;
            border-right: none;
            font-size: 120px;
            margin-bottom: 28px;
            margin-right: 0;
        }

        > section {
            padding-left: 14px;
            padding-right: 14px;

            > h2 {
                text-align: center;
            }

            > p {
                text-align: center;
            }

            > a {
                align-self: center;
            }
        }
    }
}
