.loginPage {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .buttons {
        box-shadow: none;
        height: auto;
        justify-content: flex-end;
        overflow: initial;
        padding: 0;
    }
}
