@import '../../../styles/mediaQuery';

.group {
    background-color: #fff;
    box-shadow:
        7px 7px 7px #0001,
        -7px -7px 100px #0001;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 21px;
    padding: 14px;
    position: relative;

    &.horizontal {
        > section {
            flex-direction: row;
            gap: 21px;

            > div {
                flex-grow: 1;
                width: 100%;
            }
        }
    }
}

@include tablet {
    .group {
        &.horizontal {
            > section {
                flex-direction: column;
            }
        }
    }
}
