@import '../../styles/mediaQuery';

.header {
    flex-direction: column;
    z-index: 90;

    .top {
        align-items: center;
        background-color: #111;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 103;

        > center {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 14px;
            height: var(--header-height);
            min-height: var(--header-height);
            padding: 0 14px;
            width: var(--screen-width);
        }

        .options {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            gap: 28px;
            justify-content: flex-end;
            padding: 0 14px;

            > a {
                color: #fff5;
                font-size: 18px;

                &.current {
                    color: #fff;
                }
            }
        }

        .reducerButton {
            --button-background: #1111 !important;
            --button-effect-color: #1111 !important;

            align-items: center;
            display: none;
            justify-content: center;
            width: var(--button-height);

            > i {
                color: #fff;
                font-size: 1.5em;
            }
        }
    }
}

.bottom {
    align-items: center;
    background-color: #fff;
    box-shadow: var(--box-shaddow);
    flex-direction: row;
    gap: 14px;
    height: calc(var(--button-height) + 28px);
    justify-content: center;
    transition: all 0.25s;

    > center {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 14px;
        padding: 0 14px;
        width: var(--screen-width);
    }
}

.sidebar,
.checkbox,
.background {
    display: none;
}

@include small-desktop {
    .header {
        .top {
            .options {
                display: none;
            }

            .reducerButton {
                cursor: pointer;
                display: flex;
                margin-left: auto;
            }
        }
    }

    .sidebar {
        background-color: #fff;
        border-radius: var(--radius);
        box-shadow: var(--box-shaddow);
        display: flex;
        flex-direction: column;
        gap: 21px;
        justify-content: flex-start;
        opacity: 1;
        padding: 21px;
        position: fixed;
        right: 21px;
        top: calc(var(--header-height) - 14px);
        transition: all 0.25s;
        z-index: 102;

        > a {
            color: #666;
            text-align: right;
            width: 100%;

            &.current {
                color: #111;
                font-weight: bold;
            }
        }
    }

    .background {
        display: flex;
        z-index: 101;
    }

    :global(#controlSidebarVisibility):checked {
        ~ .sidebar {
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10%);
        }

        ~ .background {
            display: none;
        }
    }
}
