@import '../../styles/mediaQuery';

.header {
    align-items: center;
    background-color: #111;
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: var(--header-height);
    min-height: var(--header-height);
    padding: 0 14px;

    > i {
        align-items: center;
        background-color: #fff2;
        border-radius: var(--radius);
        color: #fff;
        display: flex;
        font-size: 2em;
        justify-content: center;
        height: 60px;
        width: 60px;
    }

    .headerText {
        display: flex;

        h1 {
            color: #fff;
        }

        > p {
            color: #aaa;
        }
    }

    .options {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 28px;
        justify-content: flex-end;
        padding: 0 14px;

        > a {
            color: #fff5;
            font-size: 18px;

            &.current {
                color: #fff;
            }
        }
    }

    .reducerButton {
        --button-background: #1111 !important;
        --button-effect-color: #1111 !important;

        align-items: center;
        display: none;
        justify-content: center;
        width: var(--button-height);

        > i {
            color: #fff;
            font-size: 1.5em;
        }
    }
}

.sidebar,
.checkbox,
.background {
    display: none;
}

@include small-desktop {
    .header {
        z-index: 90;

        .reducerButton {
            cursor: pointer;
            display: flex;
            margin-left: auto;
        }

        .options {
            display: none;
        }
    }

    .sidebar {
        background-color: #fffc;
        backdrop-filter: blur(14px);
        border: 1px solid #eee;
        border-radius: var(--radius);
        display: flex;
        flex-direction: column;
        gap: 21px;
        justify-content: flex-start;
        opacity: 1;
        padding: 21px;
        position: fixed;
        right: 21px;
        top: calc(var(--header-height) - 14px);
        transition: all 0.25s;
        z-index: 100;

        > a {
            color: #666;
            text-align: right;
            width: 100%;

            &.current {
                color: #111;
                font-weight: bold;
            }
        }
    }

    .background {
        display: flex;
    }

    :global(#controlSidebarVisibility):checked {
        ~ .sidebar {
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10%);
        }

        ~ .background {
            display: none;
        }
    }
}
