.text {
    flex-direction: column;
    font-size: 16px;
    gap: 4px;
    position: relative;

    .label {
        border-radius: var(--radius);
        color: #aaa;
        left: 10px;
        padding: 0 4px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.25s;
    }

    .input {
        border: none;
        border-radius: var(--radius);
        font-size: 1em;
        height: var(--input-height);
        outline: 1px solid #ddd;
        padding: 0 14px;
        transition: all 0.25s;

        &::placeholder {
            color: transparent;
            transition: all 0.5s;
        }

        &:focus-within {
            box-shadow: var(--box-shaddow);
            outline-color: #666;

            &::placeholder {
                color: #ccc;
            }

            ~ .label {
                background-color: #fff;
                color: #666;
                font-size: 0.8em;
                pointer-events: auto;
                top: -9px;
                transform: none;
            }
        }

        &:not(:placeholder-shown) {
            ~ .label {
                background-color: #fff;
                color: #666;
                font-size: 0.8em;
                pointer-events: auto;
                top: -9px;
                transform: none;
            }
        }
    }
}
