.carousel {
    --carousel-min-height: 200px;
    --carousel-max-height: 500px;

    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: var(--box-shaddow);
    display: flex;
    flex-direction: column;
    position: relative;

    .nextButton,
    .backButton {
        border-radius: 50% 0 0 50%;
        padding: 0.8em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }

    .nextButton {
        right: 0;

        &:hover {
            scale: 1 !important;
        }
    }

    .backButton {
        scale: -1 1 1;
        left: 0;

        &:hover {
            scale: -1 1 1 !important;
        }
    }

    .allSteps {
        border-radius: var(--radius) var(--radius) 0 0;
        display: flex;
        flex-direction: row;
        min-height: var(--carousel-min-height);
        max-height: var(--carousel-max-height);
        overflow: hidden;
        width: 100%;
    }

    .step {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 0;
        min-width: 100%;
        transition: all 0.5s;
    }

    .currentStep {
        display: flex;
        height: auto;

        img {
            width: 100%;
        }
    }

    .stepIndicator {
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        padding: 1em;
        width: 100%;
    }

    .dot {
        background-color: #ccc;
        border-radius: 50%;
        height: 10px;
        transition: all 0.25s;
        width: 10px;
        z-index: 1;
    }

    .currentStepDot {
        background-color: var(--primary-color);
    }
}
