@import '../../styles/mediaQuery';

.footer {
    align-items: center;
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;

    > center {
        background-color: #111;
        display: flex;
        flex-direction: row;
        gap: 14px;
        justify-content: space-between;
        padding: 28px;
        width: var(--screen-width);

        .icons {
            border-top: 1px solid #fff1;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 28px;
            margin-top: -28px;
            padding-top: 28px;
            width: 100%;

            > i {
                align-self: flex-start;
                color: #fff;
                flex-grow: 0;
            }

            > p {
                color: #aaa;
            }
        }

        .logo {
            align-self: flex-start;
            justify-self: left;
            filter: grayscale(1);
        }

        .options {
            display: grid;
            grid-template-columns: repeat(3, 120px);
            gap: 28px;

            .column {
                flex-direction: column;
                font-size: 16px;
                gap: 10px;

                h3 {
                    color: #fff;
                    font-size: 1em;
                    font-weight: normal;
                    text-align: right;
                }

                a {
                    color: #aaa;
                    cursor: pointer;
                    font-size: 1em;
                    opacity: 0.5;
                    text-align: right;
                    transition: all 0.25s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@include small-desktop {
    .footer {
        > center {
            flex-direction: column;

            .options {
                margin-top: 21px;

                .column {
                    h3,
                    a {
                        text-align: left;
                    }
                }
            }
            .icons {
                p {
                    text-align: left;
                }
            }
        }
    }
}

@include tablet {
    .footer {
        > center {
            .options {
                display: none;
            }
        }
    }
}
