.page {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2em;
    min-height: 690px;
    padding: 1em 1em 2em;
    position: relative;
    transition: all 0.25s;
    width: min(100%, var(--screen-width));

    > h1 {
        padding-top: 0.5em;
    }
}
