.page {
    display: flex;
    flex-direction: column;
    gap: 14px;

    > form {
        display: flex;
        flex-direction: column;
    }

    .group {
        box-shadow: none;
        padding: 0;
    }

    .picture {
        flex-direction: column;
        gap: 14px;
    }
}
