.color {
    flex-direction: column;
    font-size: 16px;
    gap: 4px;
    position: relative;

    .label {
        background-color: #fff;
        border-radius: var(--radius);
        color: #aaa;
        font-size: 0.8em;
        left: 1em;
        padding: 0 4px;
        pointer-events: none;
        position: absolute;
        top: -0.6em;
        transition: all 0.25s;
        z-index: 2;
    }

    .input {
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: var(--radius);
        display: flex;
        flex-direction: row;
        font-size: 1em;
        gap: 14px;
        height: var(--input-height);
        max-height: var(--input-height);
        min-height: var(--input-height);
        outline: var(--input-border);
        padding: 0 1em;
        position: relative;
        transition: all 0.25s;
        z-index: 1;
        width: 100%;

        &:focus-within {
            box-shadow: var(--box-shaddow);
            outline-color: var(--input-border-color-focus);

            ~ .label {
                color: var(--primary-color);
            }

            > span {
                color: var(--primary-color);
            }
        }

        .inputContainer {
            border-radius: var(--radius);
            height: calc(var(--input-height) - 8px);
            overflow: hidden;
            position: absolute;
            right: 4px;
            top: 4px;
            transition: all 0.25s;
            width: calc(var(--input-height) - 8px);
        }

        .colorInput {
            cursor: pointer;
            height: calc(var(--input-height) + 16px);
            position: absolute;
            right: -8px;
            top: -8px;
            transition: all 0.25s;
            width: calc(var(--input-height) + 16px);
        }
    }

    &.haveValue {
        .label {
            background-color: #fff;
            color: #666;
            font-size: 0.8em;
            transform: none;
        }
    }
}
