.accordion {
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: var(--box-shaddow);
    display: grid;
    grid-template-rows: 1fr 0;
    overflow: hidden;
    tab-index: 1;
    transition: all 0.25s;
}

.header {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 21px;
    transition: all 0.25s;

    &:hover {
        background-color: var(--primary-color-05);
    }

    > p {
        color: var(--primary-color);
        font-weight: bold;
        flex-grow: 1;
        font-size: 1em;
    }

    > button {
        border-radius: 50%;
        box-shadow: none !important;
        height: 24px;
        justify-content: center;
        min-height: auto;
        padding: 0;
        pointer-events: none;
        width: 24px;
    }
}

.content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: hidden;
    padding: 0 21px;
    transition:
        all 0.25s,
        border-top 0s;

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-wrap: balance;
        width: 75%;
    }

    p {
        color: #aaa;
        line-height: 1.1em;
    }

    article {
        flex-direction: column;
        gap: 7px;
    }

    img {
        border-radius: var(--radius);
        box-shadow: var(--box-shaddow);
    }

    button {
        align-self: flex-start;
        margin-top: 14px;
    }
}

.expand {
    grid-template-rows: 1fr auto;

    .header {
        background-color: var(--primary-color-1);

        > button {
            rotate: 180deg;
        }
    }

    .content {
        background-color: #fff;
        padding: 21px;
    }
}

.group {
    background-color: var(--primary-color-1);
    border-radius: var(--radius);
    box-shadow: var(--box-shaddow);
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden;
    transition: all 0.25s;

    .accordion {
        box-shadow: none;
        border-radius: 0;
    }
}
