@import '../../styles/mediaQuery';

.homePage {
    > h1 {
        padding-top: 1em;
    }

    .article {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        height: 100%;
        padding: 1.5em;

        > h1 {
            font-size: 2em;
        }

        > p {
            color: #999;
        }
    }
}
