.page {
    display: flex;
    flex-direction: column;
    gap: 14px;

    > form {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}

.buttons {
    flex-direction: row;
    gap: 14px;
}
